.btn-cadi {
    color: #fff;
    background-color: #ED633B;
    border-color: #ED633B;
  }
  .btn-cadi:hover {
    color: #000;
    background-color: #e99931;
    border-color: #e99931;
  }
  .btn-check:focus + .btn-cadi, .btn-cadi:focus {
    color: #fff;
    background-color: #e99931;
    border-color: #e99931;
    box-shadow: 0 0 0 0.25rem rgba(231, 147, 37, 0.5);
  }
  .btn-check:checked + .btn-cadi, .btn-check:active + .btn-cadi, .btn-cadi:active, .btn-cadi.active, .show > .btn-cadi.dropdown-toggle {
    color: #fff;
    background-color: #e99931;
    border-color: #e99931;
  }
  .btn-check:checked + .btn-cadi:focus, .btn-check:active + .btn-cadi:focus, .btn-cadi:active:focus, .btn-cadi.active:focus, .show > .btn-cadi.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.25rem rgba(231, 196, 38, 0.5);
  }
  .btn-cadi:disabled, .btn-cadi.disabled {
    color: #fff;
    background-color: #e99931;
    border-color: #e99931;
  }